body {
    background-size: 100% 100%;
    background-image: url('BabyBackground.jpg');
    background-repeat: no-repeat;
  }

  .titleBar {
    position: absolute;
    top: 0px;
    left: 90px; 
    font-size: 75pt;
    color: navy; 
  }

  .titleName {
    position: absolute;
    top: 350px;
    left:550px; 
    font-size: 65pt;
  }
  
  .bulletsDiv {
    position: absolute;
    top: 250px;
    left: 550px;
    font-size: 45pt;
  }

  .hamster {
    position: absolute;
    top: 200px;
    left: 600px;
    height: 600px;
  }