html {
  font-size: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul, li { 
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  background-size: cover;
  background-position: left bottom;
  background-image: url('BabyBackground.jpg');
  background-repeat: no-repeat;
}

header {
  position: fixed
}

main {
  /* background: rgba(0,0,255,0.5); */
  height: 100%;
  display: grid;
  grid-template-areas: "h h h"
                        ". c c";
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1.25fr 2fr;
}

.titleName {
  font-size: calc(1.3rem + 3.6vw);
  grid-area: h;
  text-align: center;
  margin-top: calc(50vh - 8rem);
  margin-left: 12rem;
}

.titleBar {
  /* background: rgba(0,255,0,0.5); */
  padding: 2rem 0 0 2rem;
  width: 100%;
  font-size: 30pt;
  grid-area: h;
  color: navy; 
}

.bulletsDiv {
  /* background: rgba(255,0,0,0.5); */
  grid-area: c;
  font-size: calc(1rem + 2vw);
  padding-right: 2rem;
}

.hamster {
  grid-area: c;
  display: block;
  height: 75%;
}

@media screen and (min-width: 1024px) {
  .titleBar {
    font-size: 42pt;
  }
}