html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul, li { 
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  background-size: cover;
  background-position: left bottom;
  background-image: url('BabyBackground.jpg');
  background-repeat: no-repeat;
}

header {
  position: fixed
}

main {
  height: 100%;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.titleName {
  font-size: 48pt;
  text-align: center;
  margin-left: -6rem;
}

.titleBar {
  width: 100%;
  font-size: 30pt;
  color: navy; 
  margin-top: -8rem;
  margin-bottom: 7rem;
  margin-left: 0rem;
}

.bulletsDiv {
  width: 100%;
  font-size: 24pt;
  margin-left: 15rem;
}

.hamster {
  height: 300px;
  width: 300px;
  margin-left: 20rem;
}

@media screen and (min-width: 1024px) {
  .titleName {
    font-size: 72pt;
  }

  main {
    margin-left: 36rem;
  }

  .titleBar {
    font-size: 42pt;
  }

  .bulletsDiv {
    font-size: 32pt;
  }

  .hamster {
    height: 600px;
  }
}